문1)

In [2]:
size = 7
for y in range(size):
    row = ''
    for x in range(size):
        if y == 0 or y == (size - 1):
            row += 'O'
        elif x == 0 or x == (size - 1) :
            row += 'O'
        else:
            row += 'X'
    print(row)

OOOOOOO
OXXXXXO
OXXXXXO
OXXXXXO
OXXXXXO
OXXXXXO
OOOOOOO

문2)

In [4]:
print("간단한 가위 바위 보 게임을 시작하겠습니다.")
user1 = input("첫번째 사람의 값을 입력해주세요.")
user2 = input("두번째 사람의 값을 입력해주세요.")

result = '승리'
if user1 == '가위' and user2 == '바위':
    result = '패배'
elif user1 == '바위' and user2 == '보':
    result = '패배'
elif user1 == '보' and user2 == '가위':
    result = '패배'
elif user1 == user2:
    result = '무승부'
print(f'첫번째 [{user1}] vs 두번째 [{user2}] >> 결과는 {result} 입니다.')

간단한 가위 바위 보 게임을 시작하겠습니다.
첫번째 [보] vs 두번째 [보] >> 결과는 무승부 입니다.

문3)

In [6]:
print("사용자의 정수의 숫자를 입력받아 홀/짝 을 알려줍니다.")
value = input("입력하실 숫자를 넣어주세요.")

result = '짝수' if int(value) % 2 == 0 else '홀수'
print(f'{value}는 {result} 입니다.')

사용자의 정수의 숫자를 입력받아 홀/짝 을 알려줍니다.
3는 홀수 입니다.

문4)

In [7]:
print("사용자의 이름과 나이를 입력 받아 출력하기")
name = input("당신의 이름을 입력해주세요.")
age = input("당신의 나이를 입력해주세요.")

print(f'{name}님은 {age}살 입니다.')

사용자의 이름과 나이를 입력 받아 출력하기
홍길동님은 16살 입니다.

문5)

In [9]:
print("사용자의 특정 단의 숫자를 입력 받아 구구단를 출력하기")
dan = input("출력하실 단(숫자)를 입력하세요.")

for i in range(10):
    print(f'{dan} * {i} = {int(dan) * i}')

사용자의 특정 단의 숫자를 입력 받아 구구단를 출력하기
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

문6)

In [10]:
print("별 출력하기")
line = int(input("크기의 값을 넣어 주세요."))
for y in range(line):
    row = ''
    for x in range(line):
        row += '*' if x < (y + 1) else ' '
    print(row)

별 출력하기
*
**
***

문7) interest 리스트의 값이 없어서 문제를 풀 수가 없습니다.

문8)

In [11]:
print("리스트에 들어 있는 숫자의 종합을 구하기, 단 리스트의 크기는 5개로 할것")
list = [4,8,6,2,10]
result = 0
for i in list:
    result += i
print(list, result)

리스트에 들어 있는 숫자의 종합을 구하기, 단 리스트의 크기는 5개로 할것
[4, 8, 6, 2, 10] 30

문9)

In [ ]:
print("1에서 25까지 숫자를 출력하기, 단 각 행은 5개의 숫자를 출력 할것")
i = 1
for y in range(5):
    row = ''
    for x in range(i, i + 5):
        row += f'{x}\t'
        i += 1
    print(row)

1에서 25까지 숫자를 출력하기, 단 각 행은 5개의 숫자를 출력 할것
1	2	3	4	5
6	7	8	9	10
11	12	13	14	15
16	17	18	19	20
21	22	23	24	25

문10)

In [17]:
print("간단한 계산기 입니다.")
value1 = input("첫번째 숫자를 입력하세요.")
symbol = input("연산 기호를 입력하세요.")
value2 = input("두번째 숫자를 입력하세요.")

result = 0
if symbol == "+": 
    result = int(value1) + int(value2)
elif symbol == "-": 
    result = int(value1) - int(value2)
elif symbol == "*": 
    result = int(value1) * int(value2)
elif symbol == "/": 
    result = int(value1) / int(value2)
    
print(f'{value1} {symbol} {value2} = {result}')

간단한 계산기 입니다.
10 - 5 = 5

=====================================================================================

문1)

In [21]:
print("10개의 숫자를 입력 받아 50의 숫자 보다 큰 수 출력하기")
list = []
for i in range(10):
    list.append(int(input(f'{i + 1} 자리 숫자를 입력하세요')))
print(f'입력 받은 10개의 수 {list}')

result = []
for i in list:
    if i >= 50:
        result.append(i)
print(f'50 이상의 수 {result}')

10개의 숫자를 입력 받아 50의 숫자 보다 큰 수 출력하기
입력 받은 10개의 수 [10, 20, 30, 40, 50, 60, 70, 80, 90, 10]
50 이상의 수 [50, 60, 70, 80, 90]

문2)

In [ ]:
print("로그인 하는 프로그램")
id = input("아이디를 입력하세요.")
pwd = input("비밀번호를 입력하세요.")

if id == 'pyson-user1' and pwd == 'pysonissodifficult1234!':
    print("로그인 성공")
else:
    print("ID 또는 비밀번호가 틀렸습니다.")

문3)

In [23]:
cnt = 10
i = 0
while i < cnt:
    print(cnt - i)
    i += 1
print("발사!")

10
9
8
7
6
5
4
3
2
1
발사!

문4)

In [24]:
size = int(input("n의 정수를 입력하세요"))
for y in range(size):
    row = ''
    for x in range(size):
        if y == 0 or y == (size - 1):
            row += '*'
        elif x == 0 or x == (size - 1) :
            row += '*'
        else:
            row += ' '
    print(row)

**********
*        *
*        *
*        *
*        *
*        *
*        *
*        *
*        *
**********

문5)

In [26]:
print("숫자 맞추기 게임")
q = input("정답 숫자를 입력하세요 (1~100): ")
c = 0
while True:
    v = input("답을 입력하세요.")
    if q == v:
        print("정답입니다.")
        break
    else:
        print("정답이 아닙니다.")
    c += 1

숫자 맞추기 게임
정답이 아닙니다.
정답입니다.

문6)

In [31]:
i = 1
size = 8
for y in range(size):
    row = ''
    for x in range(i, i + size):
        if y % 2 == 0:
            row += 'O' if x % 2 == 0 else 'X'
        else:
            row += 'X' if x % 2 == 0 else 'O'
        i += 1
    print(row)

XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX
XOXOXOXO
OXOXOXOX

문7)

In [34]:
print("🎬 영화 추천 프로그램에 오신 걸 환영합니다!")
print("원하는 영화 장르를 입력하면 추천해드릴게요.")

장르 = input("액션, 로맨스, 코미디, 공포 장르를 입력하세요")

액션 = []
로맨스 = []
코미디 = []
공포 = []

if 장르 == '액션' :
    while True:
        영화 = input("영화를 입력하세요")
        if 영화 == '':
            break
        액션.append(영화)
if 장르 == '로맨스' :
    로맨스.append(input("영화를 입력하세요"))
if 장르 == '코미디' :
    코미디.append(input("영화를 입력하세요"))
if 장르 == '공포' :
    공포.append(input("영화를 입력하세요"))
    
print(액션, 로맨스, 코미디, 공포)

🎬 영화 추천 프로그램에 오신 걸 환영합니다!
원하는 영화 장르를 입력하면 추천해드릴게요.
['존', '윅', '하하'] [] [] []

문8)

In [40]:
size = 9
for y in range(size):
    row = ''
    for x in range(size):
        if (y == 0 or y == 8) and x == 4:
            row += 'O'
        elif (y == 1 or y == 7) and (x == 3 or x == 5):
            row += 'O'
        elif (y == 2 or y == 6) and (x == 2 or x == 6):
            row += 'O'
        elif (y == 3 or y == 5) and (x == 1 or x == 7):
            row += 'O'
        elif y == 4 and (x == 0 or x == 8):
            row += 'O'
        else:
            row += 'X'
    print(row)

XXXXOXXXX
XXXOXOXXX
XXOXXXOXX
XOXXXXXOX
OXXXXXXXO
XOXXXXXOX
XXOXXXOXX
XXXOXOXXX
XXXXOXXXX

문9)

In [41]:
list = []

while True:
    item = input("물건를 입력하세요.")
    if item == '끝':
        break
    list.append(item)
    
cnt = 1
for item in list:
    print(f'{cnt}. {item}')
    cnt += 1

1. 우유
2. 계란
3. 빵

문10)

In [ ]:
s1 = 5
s2 = 7
s3 = 9
center = s1 // 2
for y in range(s1):
    row = ''
    for x in range(s1):
        if y == center and x == center:
            row += 'O'
        else:
            row += 'X'
    print(row)

OXXXX
XXXXX
XXOXX
XXXXX
XXXXX