문1) 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

```python
자동차번호 = '10라 3709'
```

In [3]:
# 코드를 작성하세요.
자동차번호 = '10라 3709'
print(자동차번호[-4:])

3709

문2) 아래의 문자열에서 '홀' 이 몇개 있는지 출력하세요.

```python
문자열 = '짝홀짝홀짝홀짝홀짝'
```

In [4]:
# 코드를 작성하세요.
문자열 = '짝홀짝홀짝홀짝홀짝'
cnt = 0
for i in range(len(문자열)):
    cnt += 1 if 문자열[i] == '홀' else 0
print(f'홀의 수는 {cnt}')

홀의 수는 4

문3) 변수에 다음과 같이 문자열과 정수를 이용하여 출력 예시와 같이 formatting 하여 출력하세요.
- 출력 대상
```python
이름1 = '아이유'
나이1 = 25
이름2 = "서태지"
나이2 = 48
```
- formatting 예시) `이름: 홍길동 나이: 16`

In [5]:
# 코드를 작성하세요.
이름1 = '아이유'
나이1 = 25
이름2 = "서태지"
나이2 = 48

print(f'이름: {이름1} 나이: {나이1}')
print(f'이름: {이름2} 나이: {나이2}')

이름: 아이유 나이: 25
이름: 서태지 나이: 48

문4) 다음 리스트에는 4개의 영화 제목이 입력되어있습니다. "슈퍼맨"는 몇번째 위치(인덱스)에 있는지 출력하세요.

```python
영화 = ['스파이더맨', '배트맨', '슈퍼맨', '원펀맨']
```

In [7]:
# 코드를 작성하세요.
영화 = ['스파이더맨', '배트맨', '슈퍼맨', '원펀맨']
cnt = 0
for item in 영화:
    if item == '슈퍼맨':
        break
    cnt += 1
print(f"슈퍼맨의 인덱스는 {cnt} 입니다.")

슈퍼맨의 인덱스는 2 입니다.

문5) 다음 리스트에서 문자열의 길이가 가장 긴 문자열을 찾아 출력하세요.

```python
리스트 = ["쌈장", "불고기", "삼겹살", "된장", "간고등어"]
```

In [8]:
# 코드를 작성하세요.
리스트 = ["쌈장", "불고기", "삼겹살", "된장", "간고등어"]
size = 0
대상 = ''
for item in 리스트:
    if size < len(item):
        size = len(item)
        대상 = item
print(f'가장 긴 문자열은 {대상} 입니다.')

가장 긴 문자열은 간고등어 입니다.

문6) 다음 이름과 가격을 딕셔너리 자료형으로 담아서 출력하세요.

| 이름 | 가격 |
|:-----:|:--------:|
|메로나|1000|
|폴라포|1200|
|투게더|4000|

In [9]:
# 코드를 작성하세요.
딕셔너리 = {}
딕셔너리['메로나'] = 1000
딕셔너리['폴라포'] = 1200
딕셔너리['투게더'] = 4000
print(딕셔너리)

{'메로나': 1000, '폴라포': 1200, '투게더': 4000}

문7) 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

* 입력 > 숫자를 입력하세요: `30`    
* 출력 > `40`

In [10]:
# 코드를 작성하세요.
입력 = int(input("숫자를 입력하세요"))
print(입력 * 10)

30

문8) 다음 코드를 for문으로 변경하여 출력하세요.

```python
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)
```

In [11]:
# 코드를 작성하세요.
for i in range(1,4):
    print(i * 10)

10
20
30

문9) 리스트에는 네 개의 문자열이 있습니다. for문을 사용해서 다음과 같이 출력하세요.

- 리스트 데이터
```python
["가", "나", "다", "라"]
```
- 출력
```cmd
나
다
라
```

In [13]:
# 코드를 작성하세요.
리스트 = ["가", "나", "다", "라"]
for i in range(1, len(리스트)):
    print(리스트[i])

나
다
라

문10) 다음 "비트코인" 문자열을 10번 화면에 출력하는 함수를 정의하세요.

- 출력
```cmd
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
```

In [15]:
# 코드를 작성하세요.
def 반복함수(문자열):
    for i in range(10):
        print(문자열 * 1)
        
반복함수('비트코인')

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인