문1) 다음 데이터에서 각각 두번째 자리의 값만 출력 할 수 있도록 코드를 작성하세요.
데이터    > [(1,'대'),(2,'한'),(3,'민'),(4,'국')]
출력 예시 > 대 한 민 국

In [5]:
문자열 = ''
for d1 in [(1,'대'),(2,'한'),(3,'민'),(4,'국')]:
    문자열 += d1[1] + ' '
print(문자열)

대 한 민 국

문2) 다음 데이터에서 3번째 자리의 값을 리스트 자료형으로 '1 ~ 9' 까지 나열되도록 출력하세요.
데이터          > [1,2,3,4,5]
출력 예시       > [1,2,[1,2,3,4,5,6,7,8,9],4,5]

In [8]:
데이터 = [1,2,3,4,5]
배열 = []

for 값 in range(1,10):
    배열.append(값)

데이터[2] = 배열
print(데이터)

[1, 2, [1, 2, 3, 4, 5, 6, 7, 8, 9], 4, 5]